Repository hashicorp/terraform-website, pull requests merged in 2021-06, with the labels that each got.

#1730 Add new azure pricing APIs to egress documentation
  content/source/docs/enterprise/before-installing/network-requirements.html.md
Labels: new docs

#1732 Document Ingress Attributes
  content/source/docs/cloud/api/configuration-versions.html.md
Labels: new docs

#1690 Terraform Cloud API changelog
  .github/pull_request_template.md
  content/source/assets/images/api/changelog/breaking.png
  content/source/assets/images/api/changelog/cloud.png
  content/source/assets/images/api/changelog/deprecation.png
  content/source/assets/images/api/changelog/enterprise.png
  content/source/assets/stylesheets/application.scss
  content/source/assets/stylesheets/terraform-cloud/api/_changelog.scss
  content/source/docs/cloud/api/changelog.html.md
  content/source/layouts/_cloud_content.erb
  content/source/layouts/cloud.erb
Labels: new docs

#1735 Add public module curation API docs
  content/source/docs/cloud/api/changelog.html.md
  content/source/docs/cloud/api/modules.html.md
Labels: new docs

#1736 Update VCS troubleshooting anchor targets
  content/source/docs/cloud/vcs/troubleshooting.html.md
Labels: cosmetic bug

#1749 Clarifying language re: spec plans vs applies
  content/source/docs/cloud/run/ui.html.md
Labels: clarification, inaccuracy

#1752 document restrict_worker_metadata_access TFE setting
  content/source/docs/enterprise/install/automating-the-installer.html.md
Labels: enhancement
