Repository hashicorp/terraform-website, pull requests merged in 2021-08, with the labels that each got.

#1806 Specify the type of VCS instance that cannot be accessed.
  content/source/docs/cloud/agents/index.html.md
Labels: clarification, tfc, tw-reviewed

#1723 Add Agent hardware and concurrency clarifications
  content/source/docs/cloud/agents/index.html.md
Labels: clarification, tfc, tw-reviewed

#1811 Update show a workspace GET endpoint description
  content/source/docs/cloud/api/admin/workspaces.html.md
Labels: inaccuracy, tfc

#1799 Update About the Docs page content
  content/source/docs/index.html.markdown
Labels: enhancement, clarification

#1765 Workspace tags documentation
  content/source/docs/cloud/api/organization-tags.html.md
  content/source/docs/cloud/api/workspaces.html.md
  content/source/docs/cloud/users-teams-organizations/images/tag-management.png
  content/source/docs/cloud/users-teams-organizations/organizations.html.md
  content/source/docs/cloud/workspaces/index.html.md
  content/source/layouts/_cloud_content.erb
Labels: new docs

#1815 add tags to tfrun docs
  content/source/docs/cloud/sentinel/import/tfrun.html.md
Labels: new docs

#1819 Add Workspace Tagging to CHANGELOG
  content/source/docs/cloud/api/changelog.html.md
Labels: api

#1782 Refine Plugin Framework Docs
  content/source/docs/extend/index.html.md
  content/source/docs/extend/sdkv2-intro.html.md
  content/source/docs/plugin/framework/accessing-values.html.md
  content/source/docs/plugin/framework/index.html.md
  content/source/docs/plugin/framework/publishing.html.md
  content/source/docs/plugin/framework/types.html.md
  content/source/docs/plugin/images/terraform-plugin-overview.png
  content/source/docs/plugin/which-sdk.html.md
  content/source/layouts/extend.erb
Labels: new docs, extending, tw-reviewed

#1818 Update API Show Workspace sample response
  content/source/docs/cloud/api/workspaces.html.md
Labels: inaccuracy, clarification

#1817 add tfe run container label documentation
  content/source/docs/enterprise/admin/monitoring.html.md
Labels: new docs

#1640 add note on allowing docker0 in firewalld
  content/source/docs/enterprise/before-installing/network-requirements.html.md
Labels: clarification, tw-reviewed, enterprise

#1828 Remove workspace.tag-names for now
  content/source/docs/cloud/api/changelog.html.md
  content/source/docs/cloud/api/workspaces.html.md
Labels: api

#1813 psql - Added other managed services
  content/source/docs/enterprise/before-installing/index.html.md
Labels: clarification, tw-reviewed, enterprise

#1674 Reference Arch: AWS: Be more explicit about regional outages
  content/source/docs/enterprise/before-installing/reference-architecture/aws.md
Labels: tw-reviewed

#1639 Update tfe upgrade instructions
  content/source/docs/enterprise/admin/upgrades.html.md
Labels: new docs, tw-reviewed, enterprise

#1807 Update monitoring.html.md
  content/source/docs/enterprise/admin/monitoring.html.md
Labels: inaccuracy, clarification, tw-reviewed, enterprise

#1844 Fix typo in the payload example making JSON invalid
  content/source/docs/cloud/api/organization-memberships.html.md
Labels: inaccuracy
